
<footer class="footer bg-black"> 
  <div class="lg:pt-[70px] pt-[30px] lg:pb-[88px] pb-[50px]">
    <div class="custom-container mx-auto">
      <div class="grid xl:grid-cols-4 grid-cols-2 gap-x-[24px] gap-y-[30px]">
        <div>
          <div>
            <h4 class="text-[22px] text-white font-[600]">Giới thiệu về chúng tôi</h4>
          </div>
          <ul class="pt-[19px]">
            <li class="pb-[8px]"><a class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear" href="#">Chúng tôi là ai</a></li>
            <li class="pb-[8px]"><a class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear" href="#">Làm việc với chúng tôi</a></li>
            <li class="pb-[8px]"><a class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear" href="#">Trở thành nhà cung cấp</a></li>
            <li class="pb-[8px]"><a class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear" href="#">Quan hệ nhà đầu tư</a></li>
            <li class="pb-[8px]"><a class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear" href="#">Thiết bị của chúng tôi</a></li>
            <li class="pb-[8px]"><a class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear" href="#">Chương trình liên kết</a></li>
          </ul>
        </div>
        <div>
          <div>
            <h4 class="text-[22px] text-white font-[600]">Liên kết hữu ích</h4>
          </div>
          <ul class="pt-[19px]">
            <li class="pb-[8px]"><a class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear" href="#">Liên hệ với chúng tôi</a></li>
            <li class="pb-[8px]"><a class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear" href="#">Câu hỏi thường gặp</a></li>
            <li class="pb-[8px]"><a class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear" href="#">Điều khoản & Điều kiện</a></li>
            <li class="pb-[8px]"><a class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear" href="#">Chính sách trả hàng</a></li>
            <li class="pb-[8px]"><a class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear" href="#">Hủy đơn hàng</a></li>
            <li class="pb-[8px]"><a class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear" href="#">Theo dõi đơn hàng</a></li>
          </ul>
        </div>
        <div>
          <div>
            <h4 class="text-[22px] text-white font-[600]">Theo dõi chúng tôi trên</h4>
          </div>
          <ul class="pt-[19px]">
            <li class="pb-[8px]"><a class="relative inline-block text-[#999999] text-[15px] hover:text-[#fa323c] transition-all duration-500 ease-linear" href="#"> <span class="mr-[15px]"> <i class="fa-brands fa-facebook-f"></i></span><span>Facebook</span></a></li>
            <li class="pb-[8px]"><a class="relative inline-block text-[#999999] text-[15px] hover:text-[#fa323c] transition-all duration-500 ease-linear" href="#"> <span class="mr-[15px]"> <i class="fa-brands fa-twitter"></i></span><span>Twitter</span></a></li>
            <li class="pb-[8px]"><a class="relative inline-block text-[#999999] text-[15px] hover:text-[#fa323c] transition-all duration-500 ease-linear" href="#"><span class="mr-[15px]"> <i class="fa-brands fa-square-instagram"> </i></span><span>Instagram</span></a></li>
            <li class="pb-[8px]"><a class="relative inline-block text-[#999999] text-[15px] hover:text-[#fa323c] transition-all duration-500 ease-linear" href="#"> <span class="mr-[15px]"><i class="fa-brands fa-youtube"></i></span><span>Youtube</span></a></li>
          </ul>
        </div>
        <div>
          <div>
            <h4 class="text-[22px] text-white font-[600]">Mua sắm</h4>
          </div>
          <ul class="pt-[19px]">
            <li class="pb-[8px]"><a class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear" href="#">Mua sắm nam giới hợp thời trang</a></li>
            <li class="pb-[8px]"><a class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear" href="#">Mua sắm nữ giới 2021</a></li>
            <li class="pb-[8px]"><a class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear" href="#">Thẻ quà tặng & Phiếu giảm giá</a></li>
            <li class="pb-[8px]"><a class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear" href="#">Trang chủ $ sống</a></li>
            <li class="pb-[8px]"><a class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear" href="#">Thiết bị điện tử Tiện ích</a></li>
            <li class="pb-[8px]"><a class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear" href="#">Thẻ quà tặng & Phiếu giảm giá</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-[20px] pb-[30px] border-t border-[#333333]">
    <div class="custom-container">
      <div class="flex justify-between items-center flex-wrap">     
        <div> 
          <p class="text-[14px] text-[#888888]">Bản quyền © 2022   <a class="inline-block text-[#ff5a00] hover:underline mr-[4px]" href="#">Karte.  </a>Mọi quyền được bảo lưu.   </p>
        </div>
        <ul class="flex md:pt-[0] pt-[10px]">
          <li><a class="inline-block mr-[15px]" href="#"><img class="max-w-[65px] rounded-[5px]" src="assets/images/method-1.jpg" alt=""/></a></li>
          <li><a class="inline-block mr-[15px]" href="#"><img class="max-w-[65px] rounded-[5px]" src="assets/images/method-2.jpg" alt=""/></a></li>
          <li><a class="inline-block mr-[15px]" href="#"><img class="max-w-[65px] rounded-[5px]" src="assets/images/method-3.jpg" alt=""/></a></li>
          <li><a class="inline-block" href="#"><img class="max-w-[65px] rounded-[5px]" src="assets/images/method-4.jpg" alt=""/></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>