extends layouts/default.pug 

block title 
    title Trang chủ
block main  
    section(class="slide-area")
        div(class="swiper mySwiper")
            div(class="swiper-wrapper")
                div(class="swiper-slide")
                    div(class="relative") 
                        img(src="assets/images/home-3-bg.jpg", alt="", srcset="" class="lg:min-h-[calc(100vh-170px)] min-h-[calc(100vh-90px)] h-[500px] w-full object-cover")
                        div(class="absolute top-0 left-0 w-[100%] h-[100%]")
                            div(class="custom-container mx-auto h-[100%]")
                                div(class="flex w-full h-full items-center")
                                    div(class="2xl:w-[42%] md:w-[50%] w-[100%] md:text-left text-center")
                                        h6(class="text-[16px] text-primary font-[600] uppercase") bộ sưu tập mới nhất 
                                        h1(class="text-[40px] text-black font-[700] uppercase leading-[1.2]")  
                                            |Thời trang giày dép 
                                            br
                                            |độc đáo
                                        p(class="text-[18px] text-black pt-[9px] pb-[27px]") Kết hợp chất lượng và độ tin cậy trong một
                                        a(href="#" class="inline-block px-[30px] text-[14px] text-white bg-black font-[600] leading-[40px] uppercase relative z-[1] transition-all duration-500 ease-in-out before:content-[''] before:absolute before:top-0 before:left-0 before:right-0 before:bottom-0 before:bg-[#F69C63] before:scale-x-0 before:origin-right before:z-[-1] before:transition-transform before:duration-500 before:ease-in-out hover:before:scale-x-100 hover:before:origin-left hover:text-white")
                                            span(class="") khám phá ngay
                div(class="swiper-slide")
                    div(class="relative") 
                        img(src="assets/images/home-3-bg.jpg", alt="", srcset="" class="lg:min-h-[calc(100vh-170px)] min-h-[calc(100vh-90px)] h-[500px] w-full object-cover")
                        div(class="absolute top-0 left-0 w-[100%] h-[100%]")
                            div(class="custom-container mx-auto h-[100%]")
                                div(class="flex w-full h-full items-center")
                                    div(class="2xl:w-[42%] md:w-[50%] w-[100%] md:text-left text-center")
                                        h6(class="text-[16px] text-primary font-[600] uppercase") bộ sưu tập mới nhất 
                                        h1(class="text-[40px] text-black font-[700] uppercase leading-[1.2]")  
                                            |Thời trang giày dép 
                                            br
                                            |độc đáo
                                        p(class="text-[18px] text-black pt-[9px] pb-[27px]") Kết hợp chất lượng và độ tin cậy trong một
                                        a(href="#" class="inline-block px-[30px] text-[14px] text-white bg-black font-[600] leading-[40px] uppercase relative z-[1] transition-all duration-500 ease-in-out before:content-[''] before:absolute before:top-0 before:left-0 before:right-0 before:bottom-0 before:bg-[#F69C63] before:scale-x-0 before:origin-right before:z-[-1] before:transition-transform before:duration-500 before:ease-in-out hover:before:scale-x-100 hover:before:origin-left hover:text-white")
                                            span(class="") khám phá ngay
                div(class="swiper-slide")
                    div(class="relative") 
                        img(src="assets/images/home-3-bg.jpg", alt="", srcset="" class="lg:min-h-[calc(100vh-170px)] min-h-[calc(100vh-90px)] h-[500px] w-full object-cover")
                        div(class="absolute top-0 left-0 w-[100%] h-[100%]")
                            div(class="custom-container mx-auto h-[100%]")
                                div(class="flex w-full h-full items-center")
                                    div(class="2xl:w-[42%] md:w-[50%] w-[100%] md:text-left text-center")
                                        h6(class="text-[16px] text-primary font-[600] uppercase") bộ sưu tập mới nhất
                                        h1(class="text-[40px] text-black font-[700] uppercase leading-[1.2]")  
                                            |Thời trang giày dép 
                                            br
                                            |độc đáo
                                        p(class="text-[18px] text-black pt-[9px] pb-[27px]") Kết hợp chất lượng và độ tin cậy trong một
                                        a(href="#" class="inline-block px-[30px] text-[14px] text-white bg-black font-[600] leading-[40px] uppercase relative z-[1] transition-all duration-500 ease-in-out before:content-[''] before:absolute before:top-0 before:left-0 before:right-0 before:bottom-0 before:bg-[#F69C63] before:scale-x-0 before:origin-right before:z-[-1] before:transition-transform before:duration-500 before:ease-in-out hover:before:scale-x-100 hover:before:origin-left hover:text-white")
                                            span(class="") khám phá ngay
    section(class="area-finfo md:py-[60px] py-[40px] bg-[#f7f7f7] md:mt-[60px] mt-[40px]")
        div(class="custom-container")
            div(class="grid xl:grid-cols-4 sm:grid-cols-2 grid-cols-1 gap-[24px]")
                div(class="finfobox group bg-white text-center pt-[30px] pb-[26px] px-[20px] transition-all duration-300 ease-linear")
                    div(class="flex justify-center")
                        img(src="assets/images/f-icon-1.png", alt="" class="transition-transform duration-500 group-hover:[transform:rotateY(180deg)]")
                    div(class="")
                        h6(class="text-[17px] text-black font-[600] uppercase pt-[23px] pb-[5px]")  Đảm bảo hoàn lại tiền
                        p(class="text-[#797979]") Sẽ mở ra chia một
                div(class="finfobox group bg-white text-center pt-[30px] pb-[26px] px-[20px] transition-all duration-300 ease-linear")
                    div(class="flex justify-center")
                        img(src="assets/images/f-icon-1.png", alt="" class="transition-transform duration-500 group-hover:[transform:rotateY(180deg)]")
                    div(class="")
                        h6(class="text-[17px] text-black font-[600] uppercase pt-[23px] pb-[5px]")  Đảm bảo hoàn lại tiền
                        p(class="text-[#797979]") Sẽ mở ra chia một
                div(class="finfobox group bg-white text-center pt-[30px] pb-[26px] px-[20px] transition-all duration-300 ease-linear")
                    div(class="flex justify-center")
                        img(src="assets/images/f-icon-1.png", alt="" class="transition-transform duration-500 group-hover:[transform:rotateY(180deg)]")
                    div(class="")
                        h6(class="text-[17px] text-black font-[600] uppercase pt-[23px] pb-[5px]")  Đảm bảo hoàn lại tiền
                        p(class="text-[#797979]") Sẽ mở ra chia một
                div(class="finfobox group bg-white text-center pt-[30px] pb-[26px] px-[20px] transition-all duration-300 ease-linear")
                    div(class="flex justify-center")
                        img(src="assets/images/f-icon-1.png", alt="" class="transition-transform duration-500 group-hover:[transform:rotateY(180deg)]")
                    div(class="")
                        h6(class="text-[17px] text-black font-[600] uppercase pt-[23px] pb-[5px]")  Đảm bảo hoàn lại tiền
                        p(class="text-[#797979]") Sẽ mở ra chia một
    section(class="category-area md:py-[60px] py-[40px]") 
        div(class="custom-container mx-auto")
            div(class="grid xl:grid-cols-2 grid-cols-1 gap-x-[24px]")
                div(class="mt-[30px]")   
                    a(href="#" class="relative group overflow-hidden block")
                        img(src="assets/images/feature-product.png", alt="" class="xl:max-h-[775px] max-h-[430px] min-w-[101%] object-cover group-hover:scale-[1.05] transition-all duration-500 ease-linear")  
                        div(class="absolute top-[50%] translate-y-[-50%] py-[40px] px-[20px]")
                            h3(class="xl:text-[48px] text-[36px] text-white font-[600] leading-[1.2] uppercase") 
                                |smart man 
                                br
                                |fashion
                            h4(class="text-[30px] text-[#FF5A00] font-[600] xl:pt-[25px] pt-[15px] pb-[8px]") $120.70     
                            span(class="text-[13px] text-white font-[400] uppercase pb-[5px] relative after:content-[''] after:w-0 after:h-[2px] after:bg-[#FA323C] after:absolute after:left-0 after:bottom-0 after:transition-all after:duration-300 after:ease-linear after:group-hover:w-full")  thêm vào giỏ hàng
                div(class="")
                    div(class="mt-[30px]")   
                        a(href="#" class="relative group overflow-hidden block")
                            img(src="assets/images/catimg-1.png", alt="" class="min-h-[200px] h-[270px] min-w-[101%] object-cover group-hover:scale-[1.05] transition-all duration-500 ease-linear")  
                            div(class="absolute right-0 top-[50%] translate-y-[-50%] py-[40px] px-[20px] xl:text-left text-right")
                                h3(class="sm:text-[26px] text-[20px] uppercase text-black font-[700] sm:pt-[15px] pt-[10px] sm:pb-[20px] pb-[15px]") 
                                    |Multisport 
                                    br
                                    |Smartwatch      
                                span(class="text-[13px] text-black font-[500] uppercase") hiển thị ngay  
                                    i(class="fa-solid fa-angles-right")
                    div(class="mt-[30px]")   
                        a(href="#" class="relative group overflow-hidden block")
                            img(src="assets/images/catimg-3.png", alt="" class="min-h-[100%] 2xl:h-[475px] h-[436px] min-w-[101%] object-cover group-hover:scale-[1.05] transition-all duration-500 ease-linear")  
                            div(class="absolute left-0 top-0 py-[40px] px-[20px] w-full h-full")
                                div(class="flex justify-end items-center w-full h-full")
                                    div(class="lg:text-center text-right xl:w-[50%] w-[75%]")
                                        h6(class="text-[18px] uppercase font-[600] text-black") women’s collection
                                        h2(class="text-[48px] uppercase text-black font-[700] py-[10px]") 
                                            | 50% off       
                                        span(class="button text-[14px] text-white font-[500] bg-[#ff5a00] rounded-[3px] sm:py-[15px] py-[13px] sm:px-[40px] px-[20px] inline-flex justify-center items-center uppercase transition-all duration-300 ease-linear") Shop now
                                        p(class="pt-[10px] text-[14px] text-[#797979]") Limited Time Offer
            div(class="grid xl:grid-cols-2 grid-cols-1 gap-x-[24px]")
                div(class="")
                    div(class="mt-[30px]")   
                        a(href="#" class="relative group overflow-hidden block")
                            img(src="assets/images/catimg-1.png", alt="" class="min-h-[200px] h-[294px] min-w-[101%] group-hover:scale-[1.05] object-cover transition-all duration-500 ease-linear")  
                            div(class="absolute right-0 top-[50%] translate-y-[-50%] py-[40px] px-[20px] xl:text-left text-right")
                                h3(class="sm:text-[26px] text-[20px] uppercase text-black font-[700] sm:pt-[15px] pt-[10px] sm:pb-[20px] pb-[15px]") 
                                    |Multisport 
                                    br
                                    |Smartwatch      
                                span(class="text-[13px] text-black font-[500] uppercase") hiển thị ngay  
                                    i(class="fa-solid fa-angles-right")
                    div(class="mt-[30px] grid md:grid-cols-2 grid-cols-1 gap-[24px]") 
                        div(class="")  
                            a(href="#" class="relative group overflow-hidden block")
                                img(src="assets/images/catimg-5.png", alt="" class="min-h-[200px] max-h-[400px] min-w-[101%] object-cover group-hover:scale-[1.05] transition-all duration-500 ease-linear")  
                                div(class="absolute left-0 bottom-0 py-[40px] xl:px-[40px] px-[20px] w-full h-full after:content-[''] after:w-[calc(100%-20px)] after:absolute after:right-[10px] after:left-[10px] after:bottom-0 after:bg-white/80 after:h-[60%] after:z-[0]")
                                    div(class="flex justify-end items-end h-full w-full relative z-[2]")
                                        div(class="w-full")
                                            h3(class="sm:text-[26px] text-[20px] uppercase font-[700] text-black") latest watch
                                            h4(class="text-[14px] uppercase font-[600] text-black px-[5px]") from
                                            h3(class="sm:text-[26px] text-[20px] uppercase font-[700] text-black") $65.50
                        div(class="")  
                            a(href="#" class="relative group overflow-hidden block")
                                img(src="assets/images/catimg-6.png", alt="" class="min-h-[200px] max-h-[400px] min-w-[101%] object-cover group-hover:scale-[1.05] transition-all duration-500 ease-linear")  
                                div(class="absolute left-0 bottom-0 xl:px-[40px] px-[20px] py-[40px] w-full h-full")
                                    div(class="flex justify-end items-end h-full w-full relative z-[2]")
                                        div(class="w-full text-center")
                                            h3(class="sm:text-[26px] text-[20px] uppercase font-[700] text-black") Big sale
                                            h4(class="text-[14px] uppercase font-[600] text-black px-[5px]") from
                                            h3(class="sm:text-[26px] text-[20px] uppercase font-[700] text-[#ff5a00]") $65.50
                div(class="mt-[30px]")   
                    a(href="#" class="relative group overflow-hidden block")
                        img(src="assets/images/catimg-4.png", alt="" class="2xl:h-[100%] xl:h-[652px] h-[430px] min-w-[101%] object-cover group-hover:scale-[1.05] transition-all duration-500 ease-linear")  
                        div(class="absolute top-0 left-0 py-[40px] xl:px-[40px] px-[20px]")
                            h1(class="xl:text-[48px] text-[36px] text-black font-[600] leading-[1.2] uppercase") 
                                |man 
                                br
                                |fashion
                            h2(class="text-[30px] text-[#FF5A00] font-[600] pt-[11px] pb-[17px] uppercase") 30% off     
                            span(class="button text-[14px] text-white font-[500] bg-black rounded-[3px] sm:py-[15px] py-[13px] sm:px-[40px] px-[20px] inline-flex justify-center items-center uppercase transition-all duration-300 ease-linear")  hiển thị ngay 
    section(class="best-sheller-area md:py-[60px] py-[40px]")
        div(class="custom-container mx-auto")
            div(class="md:pb-[53px] pb-[35px]")  
                p(class="text-[13px] text-[#797979] uppercase pb-[16px]") Giá cả phải chăng 
                h2(class="text-[27px] text-black font-[600] uppercase mt-[-8px]")  Sản phẩm bán chạy nhất 
            div(class="swiper bestSellerSwiper")
                div(class="swiper-wrapper")
                    div(class="swiper-slide")
                        div(class="group")
                            div(class="relative before:content-[''] before:h-[1px] before:bg-white before:absolute before:top-[calc(50%+30px)] before:right-0 before:w-[0] before:z-[3] group-hover:before:w-[60%] before:transition-all before:duration-500 before:ease-linear after:content-[''] after:w-0 group-hover:after:w-[60%] after:h-[1px] after:bg-white after:absolute after:top-[calc(50%-30px)] after:left-0 after:transition-all after:duration-500 after:ease-linear after:z-[0]")
                                div(class="absolute sm:right-[16px] right-[7px] sm:top-[16px] top-[7px] z-[10]")
                                    span(class="sm:text-[11px] text-[10px] text-white bg-[#5bc25e] font-[400] rounded-[50px] uppercase inline-block tracking-[0.7px] whitespace-normal px-[7px] leading-[18px]") New
                                a(href="#")
                                    img(src="assets/images/productss-3.png", alt="" class="min-w-full h-full object-cover opacity-100 visible group-hover:opacity-0 group-hover:invisible transition-all duration-500 ease-linear") 
                                    img(src="assets/images/product-3.png", alt="" class="absolute top-0 left-0 min-w-full h-full object-cover opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-500 ease-linear") 
                                div(class="lg:block hidden absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] transition-all duration-500 ease-linear z-[2] opacity-0 group-hover:opacity-[1]")  
                                    ul(class="flex") 
                                        li(class="icon relative") 
                                            a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                                i(class="fa-regular fa-eye")
                                                span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") quick view
                                        li(class="icon relative") 
                                            a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                                i(class="fa-regular fa-heart") 
                                                span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") wishlist      
                                        li(class="icon relative") 
                                            a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                                i(class="fa-solid fa-cart-shopping") 
                                                span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") cart      
                                        li(class="icon relative") 
                                            a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                                i(class="fa-solid fa-arrows-rotate") 
                                                span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") compare      
                            div(class="text-center")
                                div(class="pt-[12px] sm:text-[14px] text-[11px] text-[#FF5A00]")
                                    i(class="fa-solid fa-star")                              
                                    i(class="fa-solid fa-star")                              
                                    i(class="fa-solid fa-star")                              
                                    i(class="fa-solid fa-star")                              
                                    i(class="fa-solid fa-star text-[#B0B5BB]")     
                                h5(class="pt-[4px] pb-[5px]")       
                                    a(href="#" class="text-[14px] font-[400] transition-all duration-500 ease-linear text-black hover:text-[#fa323c]") Ladies summer silk dresses
                                div(class="flex text-[14px] justify-center")
                                    p(class="pr-[10px] font-[600]") $160
                                    span(class="text-[#888888]") 
                                        del(class="") $200.00
                    div(class="swiper-slide")
                        div(class="group")
                            div(class="relative before:content-[''] before:h-[1px] before:bg-white before:absolute before:top-[calc(50%+30px)] before:right-0 before:w-[0] before:z-[3] group-hover:before:w-[60%] before:transition-all before:duration-500 before:ease-linear after:content-[''] after:w-0 group-hover:after:w-[60%] after:h-[1px] after:bg-white after:absolute after:top-[calc(50%-30px)] after:left-0 after:transition-all after:duration-500 after:ease-linear after:z-[0]")
                                div(class="absolute sm:right-[16px] right-[7px] sm:top-[16px] top-[7px] z-[10]")
                                    span(class="sm:text-[11px] text-[10px] text-white bg-[#5bc25e] font-[400] rounded-[50px] uppercase inline-block tracking-[0.7px] whitespace-normal px-[7px] leading-[18px]") New
                                a(href="#")
                                    img(src="assets/images/productss-3.png", alt="" class="min-w-full h-full object-cover opacity-100 visible group-hover:opacity-0 group-hover:invisible transition-all duration-500 ease-linear") 
                                    img(src="assets/images/product-3.png", alt="" class="absolute top-0 left-0 min-w-full h-full object-cover opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-500 ease-linear") 
                                div(class="lg:block hidden absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] transition-all duration-500 ease-linear z-[2] opacity-0 group-hover:opacity-[1]")  
                                    ul(class="flex") 
                                        li(class="icon relative") 
                                            a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                                i(class="fa-regular fa-eye")
                                                span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") quick view
                                        li(class="icon relative") 
                                            a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                                i(class="fa-regular fa-heart") 
                                                span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") wishlist      
                                        li(class="icon relative") 
                                            a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                                i(class="fa-solid fa-cart-shopping") 
                                                span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") cart      
                                        li(class="icon relative") 
                                            a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                                i(class="fa-solid fa-arrows-rotate") 
                                                span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") compare      
                            div(class="text-center")
                                div(class="pt-[12px] sm:text-[14px] text-[11px] text-[#FF5A00]")
                                    i(class="fa-solid fa-star")                              
                                    i(class="fa-solid fa-star")                              
                                    i(class="fa-solid fa-star")                              
                                    i(class="fa-solid fa-star")                              
                                    i(class="fa-solid fa-star text-[#B0B5BB]")     
                                h5(class="pt-[4px] pb-[5px]")       
                                    a(href="#" class="text-[14px] font-[400] transition-all duration-500 ease-linear text-black hover:text-[#fa323c]") Ladies summer silk dresses
                                div(class="flex text-[14px] justify-center")
                                    p(class="pr-[10px] font-[600]") $160
                                    span(class="text-[#888888]") 
                                        del(class="") $200.00
                    div(class="swiper-slide")
                        div(class="group")
                            div(class="relative before:content-[''] before:h-[1px] before:bg-white before:absolute before:top-[calc(50%+30px)] before:right-0 before:w-[0] before:z-[3] group-hover:before:w-[60%] before:transition-all before:duration-500 before:ease-linear after:content-[''] after:w-0 group-hover:after:w-[60%] after:h-[1px] after:bg-white after:absolute after:top-[calc(50%-30px)] after:left-0 after:transition-all after:duration-500 after:ease-linear after:z-[0]")
                                a(href="#")
                                    img(src="assets/images/productss-3.png", alt="" class="min-w-full h-full object-cover opacity-100 visible transition-all duration-500 ease-linear") 
                                div(class="lg:block hidden absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] transition-all duration-500 ease-linear z-[2] opacity-0 group-hover:opacity-[1]")  
                                    ul(class="flex") 
                                        li(class="icon relative") 
                                            a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                                i(class="fa-regular fa-eye")
                                                span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") quick view
                                        li(class="icon relative") 
                                            a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                                i(class="fa-regular fa-heart") 
                                                span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") wishlist      
                                        li(class="icon relative") 
                                            a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                                i(class="fa-solid fa-cart-shopping") 
                                                span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") cart      
                                        li(class="icon relative") 
                                            a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                                i(class="fa-solid fa-arrows-rotate") 
                                                span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") compare      
                            div(class="text-center")
                                div(class="pt-[12px] sm:text-[14px] text-[11px] text-[#FF5A00]")
                                    i(class="fa-solid fa-star")                              
                                    i(class="fa-solid fa-star")                              
                                    i(class="fa-solid fa-star")                              
                                    i(class="fa-solid fa-star")                              
                                    i(class="fa-solid fa-star text-[#B0B5BB]")     
                                h5(class="pt-[4px] pb-[5px]")       
                                    a(href="#" class="text-[14px] font-[400] transition-all duration-500 ease-linear text-black hover:text-[#fa323c]") Ladies summer silk dresses
                                div(class="flex text-[14px] justify-center")
                                    p(class="pr-[10px] font-[600]") $160
                                    span(class="text-[#888888]") 
                                        del(class="") $200.00
                    div(class="swiper-slide")
                        div(class="group")
                            div(class="relative before:content-[''] before:h-[1px] before:bg-white before:absolute before:top-[calc(50%+30px)] before:right-0 before:w-[0] before:z-[3] group-hover:before:w-[60%] before:transition-all before:duration-500 before:ease-linear after:content-[''] after:w-0 group-hover:after:w-[60%] after:h-[1px] after:bg-white after:absolute after:top-[calc(50%-30px)] after:left-0 after:transition-all after:duration-500 after:ease-linear after:z-[0]")
                                div(class="absolute sm:right-[16px] right-[7px] sm:top-[16px] top-[7px] z-[10]")
                                    span(class="sm:text-[11px] text-[10px] text-white bg-[#5bc25e] font-[400] rounded-[50px] uppercase inline-block tracking-[0.7px] whitespace-normal px-[7px] leading-[18px]") New
                                a(href="#")
                                    img(src="assets/images/productss-3.png", alt="" class="min-w-full h-full object-cover opacity-100 visible group-hover:opacity-0 group-hover:invisible transition-all duration-500 ease-linear") 
                                    img(src="assets/images/product-3.png", alt="" class="absolute top-0 left-0 min-w-full h-full object-cover opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-500 ease-linear") 
                                div(class="lg:block hidden absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] transition-all duration-500 ease-linear z-[2] opacity-0 group-hover:opacity-[1]")  
                                    ul(class="flex") 
                                        li(class="icon relative") 
                                            a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                                i(class="fa-regular fa-eye")
                                                span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") quick view
                                        li(class="icon relative") 
                                            a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                                i(class="fa-regular fa-heart") 
                                                span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") wishlist      
                                        li(class="icon relative") 
                                            a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                                i(class="fa-solid fa-cart-shopping") 
                                                span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") cart      
                                        li(class="icon relative") 
                                            a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                                i(class="fa-solid fa-arrows-rotate") 
                                                span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") compare      
                            div(class="text-center")
                                div(class="pt-[12px] sm:text-[14px] text-[11px] text-[#FF5A00]")
                                    i(class="fa-solid fa-star")                              
                                    i(class="fa-solid fa-star")                              
                                    i(class="fa-solid fa-star")                              
                                    i(class="fa-solid fa-star")                              
                                    i(class="fa-solid fa-star text-[#B0B5BB]")     
                                h5(class="pt-[4px] pb-[5px]")       
                                    a(href="#" class="text-[14px] font-[400] transition-all duration-500 ease-linear text-black hover:text-[#fa323c]") Ladies summer silk dresses
                                div(class="flex text-[14px] justify-center")
                                    p(class="pr-[10px] font-[600]") $160
                                    span(class="text-[#888888]") 
                                        del(class="") $200.00
    section(class="py-[60px] discount-area")  
        div(class="relative") 
            img(src="assets/images/discount.png", alt="", srcset="" class="min-h-[400px] object-cover")
            div(class="absolute top-0 left-0 w-[100%] h-[100%]")
                div(class="custom-container mx-auto h-[100%] w-[100%]")
                    div(class="flex w-full h-full items-center justify-end")
                        div(class="2xl:w-[42%] lg:w-[75%] w-[100%] lg:text-center text-right px-[12px]")
                            h6(class="text-[24px] text-[#4a4a4a] font-[500] uppercase") bộ sưu tập của phụ nữ 
                            h1(class="xl:text-[80px] text-[50px] text-black font-[700] uppercase leading-[1.2] py-[10px]")  
                                |Giảm giá 50%
                            a(href="#" class="inline-block px-[30px] text-[14px] text-white bg-black font-[600] leading-[40px] uppercase relative z-[1] transition-all duration-500 ease-in-out before:content-[''] before:absolute before:top-0 before:left-0 before:right-0 before:bottom-0 before:bg-[#F69C63] before:scale-x-0 before:origin-right before:z-[-1] before:transition-transform before:duration-500 before:ease-in-out hover:before:scale-x-100 hover:before:origin-left hover:text-white")
                                span(class="") khám phá ngay 
                            p(class="text-[18px] text-[#4a4a4a] pt-[9px] pb-[27px]") Khuyến mãi có thời hạn
    section(class="best-sheller-area md:py-[60px] py-[40px]")
        div(class="custom-container mx-auto")
            div(class="md:pb-[53px] pb-[35px]")  
                p(class="text-[13px] text-[#797979] uppercase pb-[16px]") Giá cả phải chăng 
                h2(class="text-[27px] text-black font-[600] uppercase mt-[-8px]")  sản phẩm nổi bật 
            div(class="grid lg:grid-cols-4 md:grid-cols-3 grid-cols-2 md:gap-x-[24px] gap-x-[10px] gap-y-[30px]")
                div(class="group")
                    div(class="relative before:content-[''] before:h-[1px] before:bg-white before:absolute before:top-[calc(50%+30px)] before:right-0 before:w-[0] before:z-[3] group-hover:before:w-[60%] before:transition-all before:duration-500 before:ease-linear after:content-[''] after:w-0 group-hover:after:w-[60%] after:h-[1px] after:bg-white after:absolute after:top-[calc(50%-30px)] after:left-0 after:transition-all after:duration-500 after:ease-linear after:z-[0]")
                        div(class="absolute sm:right-[16px] right-[7px] sm:top-[16px] top-[7px] z-[10]")
                            span(class="sm:text-[11px] text-[10px] text-white bg-[#F79A3F] font-[400] rounded-[50px] uppercase inline-block tracking-[0.7px] whitespace-normal px-[7px] leading-[18px]") -30%
                        a(href="#")
                            img(src="assets/images/productss-3.png", alt="" class="min-w-full h-full object-cover opacity-100 visible transition-all duration-500 ease-linear") 
                        div(class="lg:block hidden absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] transition-all duration-500 ease-linear z-[2] opacity-0 group-hover:opacity-[1]")  
                            ul(class="flex") 
                                li(class="icon relative") 
                                    a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                        i(class="fa-regular fa-eye")
                                        span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") quick view
                                li(class="icon relative") 
                                    a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                        i(class="fa-regular fa-heart") 
                                        span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") wishlist      
                                li(class="icon relative") 
                                    a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                        i(class="fa-solid fa-cart-shopping") 
                                        span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") cart      
                    div(class="text-center")
                        div(class="pt-[12px] sm:text-[14px] text-[11px] text-[#FF5A00]")
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star text-[#B0B5BB]")     
                        h5(class="pt-[4px] pb-[5px]")       
                            a(href="#" class="text-[14px] font-[400] transition-all duration-500 ease-linear text-black hover:text-[#fa323c]") Ladies summer silk dresses
                        div(class="flex text-[14px] justify-center")
                            p(class="pr-[10px] font-[600]") $160
                            span(class="text-[#888888]") 
                                del(class="") $200.00
                div(class="group")
                    div(class="relative before:content-[''] before:h-[1px] before:bg-white before:absolute before:top-[calc(50%+30px)] before:right-0 before:w-[0] before:z-[3] group-hover:before:w-[60%] before:transition-all before:duration-500 before:ease-linear after:content-[''] after:w-0 group-hover:after:w-[60%] after:h-[1px] after:bg-white after:absolute after:top-[calc(50%-30px)] after:left-0 after:transition-all after:duration-500 after:ease-linear after:z-[0]")
                        div(class="absolute sm:right-[16px] right-[7px] sm:top-[16px] top-[7px] z-[10]")
                            span(class="sm:text-[11px] text-[10px] text-white bg-[#fa323c] font-[400] rounded-[50px] uppercase inline-block tracking-[0.7px] whitespace-normal px-[7px] leading-[18px]") New
                        a(href="#")
                            img(src="assets/images/productss-3.png", alt="" class="min-w-full h-full object-cover opacity-100 visible transition-all duration-500 ease-linear") 
                        div(class="lg:block hidden absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] transition-all duration-500 ease-linear z-[2] opacity-0 group-hover:opacity-[1]")  
                            ul(class="flex") 
                                li(class="icon relative") 
                                    a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                        i(class="fa-regular fa-eye")
                                        span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") quick view
                                li(class="icon relative") 
                                    a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                        i(class="fa-regular fa-heart") 
                                        span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") wishlist      
                                li(class="icon relative") 
                                    a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                        i(class="fa-solid fa-cart-shopping") 
                                        span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") cart      
                    div(class="text-center")
                        div(class="pt-[12px] sm:text-[14px] text-[11px] text-[#FF5A00]")
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star text-[#B0B5BB]")     
                        h5(class="pt-[4px] pb-[5px]")       
                            a(href="#" class="text-[14px] font-[400] transition-all duration-500 ease-linear text-black hover:text-[#fa323c]") Ladies summer silk dresses
                        div(class="flex text-[14px] justify-center")
                            p(class="pr-[10px] font-[600]") $160
                            span(class="text-[#888888]") 
                                del(class="") $200.00
                div(class="group")
                    div(class="relative before:content-[''] before:h-[1px] before:bg-white before:absolute before:top-[calc(50%+30px)] before:right-0 before:w-[0] before:z-[3] group-hover:before:w-[60%] before:transition-all before:duration-500 before:ease-linear after:content-[''] after:w-0 group-hover:after:w-[60%] after:h-[1px] after:bg-white after:absolute after:top-[calc(50%-30px)] after:left-0 after:transition-all after:duration-500 after:ease-linear after:z-[0]")
                        div(class="absolute sm:right-[16px] right-[7px] sm:top-[16px] top-[7px] z-[10]")
                            span(class="sm:text-[11px] text-[10px] text-white bg-[#fa323c] font-[400] rounded-[50px] uppercase inline-block tracking-[0.7px] whitespace-normal px-[7px] leading-[18px]") New
                        a(href="#")
                            img(src="assets/images/productss-3.png", alt="" class="min-w-full h-full object-cover opacity-100 visible transition-all duration-500 ease-linear") 
                        div(class="lg:block hidden absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] transition-all duration-500 ease-linear z-[2] opacity-0 group-hover:opacity-[1]")  
                            ul(class="flex") 
                                li(class="icon relative") 
                                    a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                        i(class="fa-regular fa-eye")
                                        span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") quick view
                                li(class="icon relative") 
                                    a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                        i(class="fa-regular fa-heart") 
                                        span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") wishlist      
                                li(class="icon relative") 
                                    a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                        i(class="fa-solid fa-cart-shopping") 
                                        span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") cart      
                    div(class="text-center")
                        div(class="pt-[12px] sm:text-[14px] text-[11px] text-[#FF5A00]")
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star text-[#B0B5BB]")     
                        h5(class="pt-[4px] pb-[5px]")       
                            a(href="#" class="text-[14px] font-[400] transition-all duration-500 ease-linear text-black hover:text-[#fa323c]") Ladies summer silk dresses
                        div(class="flex text-[14px] justify-center")
                            p(class="pr-[10px] font-[600]") $160
                            span(class="text-[#888888]") 
                                del(class="") $200.00
                div(class="group")
                    div(class="relative before:content-[''] before:h-[1px] before:bg-white before:absolute before:top-[calc(50%+30px)] before:right-0 before:w-[0] before:z-[3] group-hover:before:w-[60%] before:transition-all before:duration-500 before:ease-linear after:content-[''] after:w-0 group-hover:after:w-[60%] after:h-[1px] after:bg-white after:absolute after:top-[calc(50%-30px)] after:left-0 after:transition-all after:duration-500 after:ease-linear after:z-[0]")
                        a(href="#")
                            img(src="assets/images/productss-3.png", alt="" class="min-w-full h-full object-cover opacity-100 visible transition-all duration-500 ease-linear") 
                        div(class="lg:block hidden absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] transition-all duration-500 ease-linear z-[2] opacity-0 group-hover:opacity-[1]")  
                            ul(class="flex") 
                                li(class="icon relative") 
                                    a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                        i(class="fa-regular fa-eye")
                                        span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") quick view
                                li(class="icon relative") 
                                    a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                        i(class="fa-regular fa-heart") 
                                        span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") wishlist      
                                li(class="icon relative") 
                                    a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                        i(class="fa-solid fa-cart-shopping") 
                                        span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") cart      
                    div(class="text-center")
                        div(class="pt-[12px] sm:text-[14px] text-[11px] text-[#FF5A00]")
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star text-[#B0B5BB]")     
                        h5(class="pt-[4px] pb-[5px]")       
                            a(href="#" class="text-[14px] font-[400] transition-all duration-500 ease-linear text-black hover:text-[#fa323c]") Ladies summer silk dresses
                        div(class="flex text-[14px] justify-center")
                            p(class="pr-[10px] font-[600]") $160
                            span(class="text-[#888888]") 
                                del(class="") $200.00
                div(class="group")
                    div(class="relative before:content-[''] before:h-[1px] before:bg-white before:absolute before:top-[calc(50%+30px)] before:right-0 before:w-[0] before:z-[3] group-hover:before:w-[60%] before:transition-all before:duration-500 before:ease-linear after:content-[''] after:w-0 group-hover:after:w-[60%] after:h-[1px] after:bg-white after:absolute after:top-[calc(50%-30px)] after:left-0 after:transition-all after:duration-500 after:ease-linear after:z-[0]")
                        a(href="#")
                            img(src="assets/images/productss-3.png", alt="" class="min-w-full h-full object-cover opacity-100 visible transition-all duration-500 ease-linear") 
                        div(class="lg:block hidden absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] transition-all duration-500 ease-linear z-[2] opacity-0 group-hover:opacity-[1]")  
                            ul(class="flex") 
                                li(class="icon relative") 
                                    a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                        i(class="fa-regular fa-eye")
                                        span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") quick view
                                li(class="icon relative") 
                                    a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                        i(class="fa-regular fa-heart") 
                                        span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") wishlist      
                                li(class="icon relative") 
                                    a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                        i(class="fa-solid fa-cart-shopping") 
                                        span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") cart      
                    div(class="text-center")
                        div(class="pt-[12px] sm:text-[14px] text-[11px] text-[#FF5A00]")
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star text-[#B0B5BB]")     
                        h5(class="pt-[4px] pb-[5px]")       
                            a(href="#" class="text-[14px] font-[400] transition-all duration-500 ease-linear text-black hover:text-[#fa323c]") Ladies summer silk dresses
                        div(class="flex text-[14px] justify-center")
                            p(class="pr-[10px] font-[600]") $160
                            span(class="text-[#888888]") 
                                del(class="") $200.00
                div(class="group")
                    div(class="relative before:content-[''] before:h-[1px] before:bg-white before:absolute before:top-[calc(50%+30px)] before:right-0 before:w-[0] before:z-[3] group-hover:before:w-[60%] before:transition-all before:duration-500 before:ease-linear after:content-[''] after:w-0 group-hover:after:w-[60%] after:h-[1px] after:bg-white after:absolute after:top-[calc(50%-30px)] after:left-0 after:transition-all after:duration-500 after:ease-linear after:z-[0]")
                        div(class="absolute sm:right-[16px] right-[7px] sm:top-[16px] top-[7px] z-[10]")
                            span(class="sm:text-[11px] text-[10px] text-white bg-[#fa323c] font-[400] rounded-[50px] uppercase inline-block tracking-[0.7px] whitespace-normal px-[7px] leading-[18px]") New
                        a(href="#")
                            img(src="assets/images/productss-3.png", alt="" class="min-w-full h-full object-cover opacity-100 visible transition-all duration-500 ease-linear") 
                        div(class="lg:block hidden absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] transition-all duration-500 ease-linear z-[2] opacity-0 group-hover:opacity-[1]")  
                            ul(class="flex") 
                                li(class="icon relative") 
                                    a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                        i(class="fa-regular fa-eye")
                                        span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") quick view
                                li(class="icon relative") 
                                    a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                        i(class="fa-regular fa-heart") 
                                        span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") wishlist      
                                li(class="icon relative") 
                                    a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                        i(class="fa-solid fa-cart-shopping") 
                                        span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") cart      
                    div(class="text-center")
                        div(class="pt-[12px] sm:text-[14px] text-[11px] text-[#FF5A00]")
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star text-[#B0B5BB]")     
                        h5(class="pt-[4px] pb-[5px]")       
                            a(href="#" class="text-[14px] font-[400] transition-all duration-500 ease-linear text-black hover:text-[#fa323c]") Ladies summer silk dresses
                        div(class="flex text-[14px] justify-center")
                            p(class="pr-[10px] font-[600]") $160
                            span(class="text-[#888888]") 
                                del(class="") $200.00
                div(class="group")
                    div(class="relative before:content-[''] before:h-[1px] before:bg-white before:absolute before:top-[calc(50%+30px)] before:right-0 before:w-[0] before:z-[3] group-hover:before:w-[60%] before:transition-all before:duration-500 before:ease-linear after:content-[''] after:w-0 group-hover:after:w-[60%] after:h-[1px] after:bg-white after:absolute after:top-[calc(50%-30px)] after:left-0 after:transition-all after:duration-500 after:ease-linear after:z-[0]")
                        div(class="absolute sm:right-[16px] right-[7px] sm:top-[16px] top-[7px] z-[10]")
                            span(class="sm:text-[11px] text-[10px] text-white bg-[#fa323c] font-[400] rounded-[50px] uppercase inline-block tracking-[0.7px] whitespace-normal px-[7px] leading-[18px]") New
                        a(href="#")
                            img(src="assets/images/productss-3.png", alt="" class="min-w-full h-full object-cover opacity-100 visible transition-all duration-500 ease-linear") 
                        div(class="lg:block hidden absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] transition-all duration-500 ease-linear z-[2] opacity-0 group-hover:opacity-[1]")  
                            ul(class="flex") 
                                li(class="icon relative") 
                                    a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                        i(class="fa-regular fa-eye")
                                        span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") quick view
                                li(class="icon relative") 
                                    a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                        i(class="fa-regular fa-heart") 
                                        span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") wishlist      
                                li(class="icon relative") 
                                    a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                        i(class="fa-solid fa-cart-shopping") 
                                        span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") cart      
                    div(class="text-center")
                        div(class="pt-[12px] sm:text-[14px] text-[11px] text-[#FF5A00]")
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star text-[#B0B5BB]")     
                        h5(class="pt-[4px] pb-[5px]")       
                            a(href="#" class="text-[14px] font-[400] transition-all duration-500 ease-linear text-black hover:text-[#fa323c]") Ladies summer silk dresses
                        div(class="flex text-[14px] justify-center")
                            p(class="pr-[10px] font-[600]") $160
                            span(class="text-[#888888]") 
                                del(class="") $200.00
                div(class="group")
                    div(class="relative before:content-[''] before:h-[1px] before:bg-white before:absolute before:top-[calc(50%+30px)] before:right-0 before:w-[0] before:z-[3] group-hover:before:w-[60%] before:transition-all before:duration-500 before:ease-linear after:content-[''] after:w-0 group-hover:after:w-[60%] after:h-[1px] after:bg-white after:absolute after:top-[calc(50%-30px)] after:left-0 after:transition-all after:duration-500 after:ease-linear after:z-[0]")
                        a(href="#")
                            img(src="assets/images/productss-3.png", alt="" class="min-w-full h-full object-cover opacity-100 visible transition-all duration-500 ease-linear") 
                        div(class="lg:block hidden absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] transition-all duration-500 ease-linear z-[2] opacity-0 group-hover:opacity-[1]")  
                            ul(class="flex") 
                                li(class="icon relative") 
                                    a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                        i(class="fa-regular fa-eye")
                                        span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") quick view
                                li(class="icon relative") 
                                    a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                        i(class="fa-regular fa-heart") 
                                        span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") wishlist      
                                li(class="icon relative") 
                                    a(href="#" class="group/item h-[30px] w-[30px] text-[12px] text-black rounded-[30px] m-[2px] bg-white flex justify-center items-center hover:bg-[#FE5A00] hover:text-white transition-all duration-500 ease-linear")
                                        i(class="fa-solid fa-cart-shopping") 
                                        span(class="uppercase text-[10px] text-[400] text-center bg-black min-w-[75px] py-[4px] px-[8px] inline-block text-white absolute top-[-23px] left-[50%] translate-x-[-50%] translate-y-[-15px] opacity-0 invisible group-hover/item:opacity-[1] group-hover/item:translate-y-[-5px] group-hover/item:visible transition-all duration-500 ease-lineartbefore:content-[''] before:w-[8px] before:h-[8px] before:bg-black before:absolute before:left-[50%] before:top-[80%] before:translate-y-0 before:translate-x-[-50%] before:rotate-[45deg]") cart      
                    div(class="text-center")
                        div(class="pt-[12px] sm:text-[14px] text-[11px] text-[#FF5A00]")
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star")                              
                            i(class="fa-solid fa-star text-[#B0B5BB]")     
                        h5(class="pt-[4px] pb-[5px]")       
                            a(href="#" class="text-[14px] font-[400] transition-all duration-500 ease-linear text-black hover:text-[#fa323c]") Ladies summer silk dresses
                        div(class="flex text-[14px] justify-center")
                            p(class="pr-[10px] font-[600]") $160
                            span(class="text-[#888888]") 
                                del(class="") $200.00           
                    

                    
                    
                

                
                   
                        
