footer(class="footer bg-black") 
    div(class="lg:pt-[70px] pt-[30px] lg:pb-[88px] pb-[50px]")
        div(class="custom-container mx-auto")
            div(class="grid xl:grid-cols-4 grid-cols-2 gap-x-[24px] gap-y-[30px]")
                div(class="")
                    div(class="")
                        h4(class="text-[22px] text-white font-[600]") Giới thiệu về chúng tôi
                    ul(class="pt-[19px]")
                        li(class="pb-[8px]")
                            a(href="#" class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear") Chúng tôi là ai
                        li(class="pb-[8px]")
                            a(href="#" class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear") Làm việc với chúng tôi
                        li(class="pb-[8px]")
                            a(href="#" class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear") Trở thành nhà cung cấp
                        li(class="pb-[8px]")
                            a(href="#" class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear") Quan hệ nhà đầu tư
                        li(class="pb-[8px]")
                            a(href="#" class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear") Thiết bị của chúng tôi
                        li(class="pb-[8px]")
                            a(href="#" class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear") Chương trình liên kết
                div(class="")
                    div(class="")
                        h4(class="text-[22px] text-white font-[600]") Liên kết hữu ích
                    ul(class="pt-[19px]")
                        li(class="pb-[8px]")
                            a(href="#" class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear") Liên hệ với chúng tôi
                        li(class="pb-[8px]")
                            a(href="#" class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear") Câu hỏi thường gặp
                        li(class="pb-[8px]")
                            a(href="#" class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear") Điều khoản & Điều kiện
                        li(class="pb-[8px]")
                            a(href="#" class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear") Chính sách trả hàng
                        li(class="pb-[8px]")
                            a(href="#" class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear") Hủy đơn hàng
                        li(class="pb-[8px]")
                            a(href="#" class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear") Theo dõi đơn hàng
                div(class="")
                    div(class="")
                        h4(class="text-[22px] text-white font-[600]") Theo dõi chúng tôi trên
                    ul(class="pt-[19px]")
                        li(class="pb-[8px]")
                            a(href="#" class="relative inline-block text-[#999999] text-[15px] hover:text-[#fa323c] transition-all duration-500 ease-linear") 
                                span(class="mr-[15px]") 
                                    i(class="fa-brands fa-facebook-f")
                                span Facebook
                        li(class="pb-[8px]")
                            a(href="#" class="relative inline-block text-[#999999] text-[15px] hover:text-[#fa323c] transition-all duration-500 ease-linear") 
                                span(class="mr-[15px]") 
                                    i(class="fa-brands fa-twitter")
                                span Twitter
                        li(class="pb-[8px]")
                            a(href="#" class="relative inline-block text-[#999999] text-[15px] hover:text-[#fa323c] transition-all duration-500 ease-linear")
                                span(class="mr-[15px]") 
                                    i(class="fa-brands fa-square-instagram") 
                                span Instagram
                        li(class="pb-[8px]")
                            a(href="#" class="relative inline-block text-[#999999] text-[15px] hover:text-[#fa323c] transition-all duration-500 ease-linear") 
                                span(class="mr-[15px]")
                                    i(class="fa-brands fa-youtube")
                                span Youtube
                div(class="")
                    div(class="")
                        h4(class="text-[22px] text-white font-[600]") Mua sắm
                    ul(class="pt-[19px]")
                        li(class="pb-[8px]")
                            a(href="#" class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear") Mua sắm nam giới hợp thời trang
                        li(class="pb-[8px]")
                            a(href="#" class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear") Mua sắm nữ giới 2021
                        li(class="pb-[8px]")
                            a(href="#" class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear") Thẻ quà tặng & Phiếu giảm giá
                        li(class="pb-[8px]")
                            a(href="#" class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear") Trang chủ $ sống
                        li(class="pb-[8px]")
                            a(href="#" class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear") Thiết bị điện tử Tiện ích
                        li(class="pb-[8px]")
                            a(href="#" class="relative inline-block text-[#999999] text-[15px] after:content-[''] after:w-0 after:h-[1px] after:bg-[#fa323c] after:absolute after:top-[100%] after:left-0 after:transition-all after:duration-500 after:ease-linear after:hover:w-full hover:text-[#fa323c] transition-all duration-500 ease-linear") Thẻ quà tặng & Phiếu giảm giá
    div(class="pt-[20px] pb-[30px] border-t border-[#333333]")
        div(class="custom-container")
            div(class="flex justify-between items-center flex-wrap")      
                div(class="")  
                    p(class="text-[14px] text-[#888888]")
                        |Bản quyền © 2022   
                        a(href="#" class="inline-block text-[#ff5a00] hover:underline mr-[4px]") Karte.  
                        |Mọi quyền được bảo lưu.   
                ul(class="flex md:pt-[0] pt-[10px]")
                    li(class="")
                        a(href="#" class="inline-block mr-[15px]")
                            img(src="assets/images/method-1.jpg", alt="" class="max-w-[65px] rounded-[5px]") 
                    li(class="")
                        a(href="#" class="inline-block mr-[15px]")
                            img(src="assets/images/method-2.jpg", alt="" class="max-w-[65px] rounded-[5px]") 
                    li(class="")
                        a(href="#" class="inline-block mr-[15px]")
                            img(src="assets/images/method-3.jpg", alt="" class="max-w-[65px] rounded-[5px]") 
                    li(class="")
                        a(href="#" class="inline-block")
                            img(src="assets/images/method-4.jpg", alt="" class="max-w-[65px] rounded-[5px]") 

